{% extends "account-layout.html" %}
{% block contents %}
    



<!-- final -->

<section class="text-gray-600 body-font overflow-hidden">
    <div class="container mx-auto">

    <div class="lg:w-full py-20 mx-auto flex flex-wrap">

        
        <div class="lg:w-1/2 w-full lg:pr-5 lg:pl-5  lg:py-5 lg:mb-0 flex flex-wrap">
            <div class="lg:w-1/5 lg:mt-2"> 
                <img class=" rounded-full w-24 h-24 object-cover object-center" src="{{ url_for('static', filename='doc3.jpg') }}" alt="Doctor's Image">
            </div>
            <div class="ml-auto lg:w-4/5"> 
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-2">Dr. Rohit Jain</h1>
                <h2 class="text title-font text-gray-700 tracking-widest">OPHTHALMOLOGIST | 3 Years Exp</h2>
                <p class="leading-relaxed mt-2 mb-2">Availibility: MON, TUE, WED, THU, FRI</p>
                <div class="flex border-t border-gray-200 py-2">
                    <span><img width="20" height="20" src="{{ url_for('static', filename='education.png') }}" alt="marker--v1"/></span>
                    <span class="ml-5 text-gray-900">MBBS, MS(OPHTHALMOLOGY)</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span><img width="20" height="20" src="{{ url_for('static', filename='chat.png') }}" alt="marker--v1"/></span>
                    <span class="ml-5 text-gray-900">English, Hindi, Gujarati</span>
                </div>
                <div class="flex border-t border-b mb-4 border-gray-200 py-2">
                    <span><img width="20" height="20" src="{{ url_for('static', filename='location2.png') }}" alt="marker--v1"/></span>
                    <span class="ml-5 text-gray-900">402, Nakshtra-5, Ahmedabad</span>
                </div>
                <div class="flex">
                    <span class="title-font font-medium text-2xl text-gray-900">₹ 1000.00</span>
                    <button class="flex ml-auto text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded">Book Appointment</button>
                    <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                    </svg>
                    </button>
                </div>
            </div>
        </div>
        <!-- <img alt="ecommerce" class="lg:w-1/3 w-full lg:h-auto h-64 object-cover object-center rounded" src="https://dummyimage.com/400x400"> -->


        <div class="lg:w-1/2 w-full lg:pr-5 lg:pl-5  lg:py-5 lg:mb-0 flex flex-wrap">
            <div class="lg:w-1/5 lg:mt-2"> 
                <img class=" rounded-full w-24 h-24 object-cover object-center" src="{{ url_for('static', filename='doc2.jpg') }}" alt="Doctor's Image">
            </div>
            <div class="ml-auto lg:w-4/5"> 
                <h1 class="text-gray-900 text-3xl title-font font-medium mb-2">Dr. Aarohi Tyagi</h1>
                <h2 class="text title-font text-gray-700 tracking-widest">OPHTHALMOLOGIST | 10 Years Exp</h2>
                <p class="leading-relaxed mt-2 mb-2">Availibility: MON, TUE, WED, THU, FRI</p>
                <div class="flex border-t border-gray-200 py-2">
                    <span><img width="20" height="20" src="{{ url_for('static', filename='education.png') }}" alt="marker--v1"/></span>
                    <span class="ml-5 text-gray-900">MBBS, MS(OPHTHALMOLOGY)</span>
                </div>
                <div class="flex border-t border-gray-200 py-2">
                    <span><img width="20" height="20" src="{{ url_for('static', filename='chat.png') }}" alt="marker--v1"/></span>
                    <span class="ml-5 text-gray-900">English, Hindi, Gujarati</span>
                </div>
                <div class="flex border-t border-b mb-4 border-gray-200 py-2">
                    <span><img width="20" height="20" src="{{ url_for('static', filename='location2.png') }}" alt="marker--v1"/></span>
                    <span class="ml-5 text-gray-900">Kanan Multispeciality Hospital, Naroda, Ahmedabad</span>
                </div>
                <div class="flex">
                    <span class="title-font font-medium text-2xl text-gray-900">₹ 1400.00</span>
                    <button class="flex ml-auto text-white bg-green-500 border-0 py-2 px-6 focus:outline-none hover:bg-green-600 rounded">Book Appointment</button>
                    <button class="rounded-full w-10 h-10 bg-gray-200 p-0 border-0 inline-flex items-center justify-center text-gray-500 ml-4">
                    <svg fill="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" class="w-5 h-5" viewBox="0 0 24 24">
                        <path d="M20.84 4.61a5.5 5.5 0 00-7.78 0L12 5.67l-1.06-1.06a5.5 5.5 0 00-7.78 7.78l1.06 1.06L12 21.23l7.78-7.78 1.06-1.06a5.5 5.5 0 000-7.78z"></path>
                    </svg>
                    </button>
                </div>
            </div>
        </div>




      </div>
    </div>
  </section>

  <!-- End -->





  {% endblock %}