{% extends "layout.html" %}

<!-- Home - Patient Login Content Starts -->
{% block contents %}
<section class="text-gray-600 body-font">
    <div class="container px-5 py-10 mx-auto flex flex-wrap items-center">
        <div class="lg:w-3/5 md:w-1/2 md:pr-16 lg:pr-0 pr-0">
            <h1 class="title-font font-medium text-3xl text-gray-900">Welcome to EasyVisit - Your Trusted Appointment Companion</h1>
            <p class="leading-relaxed mt-4">Your Health, Your Way</p>
        </div>

    {% block form %}

    {% endblock form %}

    </div>
</section>
{% endblock contents %}